:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #c7c7c7; /*no se porque la maestra uso este nombre*/
    --text-input-field: #f7f7f7;
    --hospital-green: #ffe800;
    --orange: #f97b00;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}
