:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #c7c7c7; /*no se porque la maestra uso este nombre*/
    --text-input-field: #f7f7f7;
    --hospital-green: #ffe800;
    --orange: #f97b00;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);
    margin: 0 auto;
    min-width: 320px;
    max-width: 800px;
    gap: 20px;
    place-content: center;
    
   
}
.product-card{
    width: 140px;
}
.product-card img{
    width: 140px ;
    height: 140px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    object-fit: cover;
}

.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.product-info figure img{
    border-radius: 0px;
    width: 35px ;
    height: 35px;
    margin-top: 8px;
    
}

.product-info div p:nth-child(1){
    font-weight: bolder;
    font-size: var(--md);
    
    margin-bottom: 4px;
}


.product-info div p:nth-child(2){
    
    font-size: var(--sm);
    color: var(--orange);
}